<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>Skill</h1>
  <div id="main">
    <h2>Skill #<%= skill._id %></h2>
    <h3><%= skill.skill %></h3>
    <p>How hard was it for you? <%= skill.difficulty %></p>
    <a href="/skills/<%= skill._id %>/edit">
    <button id="edit-button">You got it all wrong!</button></a>
    <br>
    <a href="/skills">Go back</a>
  </div>
</body>
</html>